{% extends 'admin/base.html.twig' %}

{% block title %}
    <title>Modifier l'article</title>
{% endblock %}

{% block main %}
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.title, 'Titre', {'label_attr': {'class': 'form-article-title-label'}}) }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.title) }}
    </div>

    <div class="form-group">
        {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-article-description-label'}}) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.description) }}
    </div>

    <div class="form-group">
        {{ form_label(form.content, 'Contenu', {'label_attr': {'class': 'form-article-content-label'}}) }}
        {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.content) }}

    </div>

    <div class="form-group">
        {{ form_label(form.category,'Categorie', {'label_attr': {'class': 'form-article-category-label'}}) }}
        {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.category) }}

    </div>

    <div class="form-group">
        {{ form_label(form.author,'Auteur', {'label_attr': {'class': 'form-article-author-label'}}) }}
        {{ form_widget(form.author, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.author) }}
    </div>

    <div class="form-group">
        {{ form_label(form.image) }}
        {{ form_widget(form.image) }}
        {{ form_errors(form.image) }}

    </div>


    {{ form_widget(form.submit) }}
    {{ form_end(form) }}
{% endblock %}