{% extends 'base.html.twig' %}

{% block title %}
    <title>{{ article.title }}</title>
{% endblock %}

{% block main %}

{% include 'preheader.html.twig' %}
    <article class="mono">
        <img class="article-img" src="{{ asset('uploads/images/'~ article.image)}}" alt="{{ article.title }}">
        <h1 class="headline">{{ article.title }}</h1>
        <p class="subtitle">{{ article.category.title }}</p>
        <p class="description">{{ article.content }}</p>
    </article>
    <section class="comments">
        <h2 class="comments-title">Commentaires</h2>
        {% for comment in article.comments %}
            {% if comment.isPublished%}
            <article class="comment">
               <h3 class="comment-author">{{ comment.author.name }}</h3>
                <p class="comment-text">{{ comment.content }}</p>
                <p class="comment-date"> {{ comment.publishedDate|date('d/m/Y') }}</p>
            </article>
            {% endif %}
        {% endfor %}
    </section>
    {% if app.user %}
        <section class="comment-block">
            <h2 class="comment-title">Ajoutez votre commentaire</h2>
                {% if form %}
                    <div class="comment-form">{{ form(form) }}</div>
                {% endif %}
        </section>
    {% endif %}
{% endblock %}