{% extends 'base.html.twig' %}

{% block title %}
    <title>{{ article.title }}</title>
{% endblock %}

{% block main %}

{% include 'preheader.html.twig' %}
    <article class="mono">
        <img class="article-img" src="{{ asset('uploads/images/'~ article.image)}}" alt="{{ article.title }}">
        <h1 class="headline">{{ article.title }}</h1>
        <p class="subtitle">{{ article.category.title }}</p>
        <p class="description">{{ article.content }}</p>
    </article>
    {% if app.user %}

    {% endif %}
{% endblock %}