{% extends 'base.html.twig' %}

{% block main %}
    {% include 'preheader.html.twig' %}
    {% for article in articles %}
        <article class="list">
            <img class="list-img" src="{{asset('uploads/images/'~ article.image)}}" alt="{{ article.title }}">
            <h2>{{ article.title }}</h2>
            <p class="subtitle"> écrit par {{ article.author }}</p>
            <p class="subtitle">{{ article.category.title }}</p>
            <p class="description">{{ article.description }}</p>
            <a class="button-boxes" href="{{ path('article-page', {'id': article.id}) }}">Lire <span class="chevron">></span></a>
        </article>
    {% endfor %}
{% endblock %}
